<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Student Details</title>
    <link rel="stylesheet" th:href="@{css/main.css}"></link>
    <!--    <link type="stylesheet" href="http://localhost:8080/css/main.css"/>-->
</head>
<body>
<div>
            <div class="header">
                <div>
                    <h2 class="text-xl font-bold">FAKTURA č<span th:text="${factureId}"></span>
                    </h2>
                </div>
                <div>
                </div>
            </div>
            <div class="facture-info">
                <div> <p><span th:text="${name}"></span></p>
                    <p><span th:text="${surname}"></span></p>
                    <p><span th:text="${ico}"></span></p>
                    <p><span th:text="${area}"></span></p>
                    <p><span th:text="${phone}"></span></p>
                    <p><span th:text="${email}"></span></p>
                    <p><span th:text="${creationDate}"></span></p>
                    <p><span th:text="${untilDate}"></span></p>
                    <p><span th:text="${price}"></span></p>
                    <p><span th:text="${vs}"></span></p></div>
                <div> <p><span th:text="${name}"></span></p>
                    <p><span th:text="${surname}"></span></p>
                    <p><span th:text="${ico}"></span></p>
                    <p><span th:text="${area}"></span></p>
                    <p><span th:text="${phone}"></span></p>
                    <p><span th:text="${email}"></span></p>
                    <p><span th:text="${creationDate}"></span></p>
                    <p><span th:text="${untilDate}"></span></p>
                    <p><span th:text="${price}"></span></p>
                    <p><span th:text="${vs}"></span></p></div>
            </div>
            <div class="facture-details">

            </div>
            <div class="facture-price">

            </div>
            <div class="facture-footer">

            </div>

</div>

</body>

</html>