<!DOCTYPE HTML>

<html lang="cs" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"></meta>
    <title>Student Details</title>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400" rel="stylesheet"></link>
    <style>
        body{
            font-family: 'Titillium Web', sans-serif !important;
            font-weight: 200;
            color: #505050;
        }
        .email-text{
            background: #c0a16b;
            color: #0c4128;
        }
    </style>
</head>
<body>

    <div class="email">
        <div class="email-wrapper">
            <div class="email-header">
                <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="Logo" title="Logo" style="display:block" width="200" height="87"></img>
            </div>
            <div class="email-text">
                <h4>
                    Vážený pane XY,
                </h4>
                <p>Děkujeme za Váš zájem stát se členem družstva. V příloze tohoto emailu naleznete přihlášku,
                    prosíme o její vyplnění a odeslání na adresu: Energetícké družstvo vlastníků FVE, Blanická
                    922/25, 120 00 Praha 2 Vinohrady. Vyplněnou a oskenovanou přihlášku můžete také odeslat
                    elektronicky na info@energetíckedruzstvo.cz.</p>
                <p>
                    Prosíme také o uhrazení základního členského vkladu 5,- Kč. Podklady k platbě naleznete
                    v přiložené faktuře.
                </p>
                <p>
                    O Vašem přijetí do družstva Vás uvědomíme emailem po zasedání představenstva. <br>
                    Děkujeme a těšíme se na další spolupráci
                </p>
            </div>
            <table class="email-footer">

            </table>
        </div>
    </div>

</body>

</html>