@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');
.navbar{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Titillium Web', sans-serif !important;
    color: #505050;
}
.navbar-custom{
    position: static;
    color: #505050;
    background-color: #fff;
    border-bottom: 2px #41c0bd;
    width: 100%;
}
#sidebar-menu > ul > li > a,#sidebar-menu .menu-title{
    color: #505050;
    font-family: 'Titillium Web', sans-serif;
}

.fas.fa-align-left{
    font-size: 20px;
    color: #505050;
}